<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cn.lin.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>cn.lin.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/servlet/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>cn.lin.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/servlet/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>ModifyAddrServlet</servlet-name>
        <servlet-class>cn.lin.servlet.ModifyAddrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyAddrServlet</servlet-name>
        <url-pattern>/servlet/ModifyAddrServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>DeleteAddrServlet</servlet-name>
        <servlet-class>cn.lin.servlet.DeleteAddrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAddrServlet</servlet-name>
        <url-pattern>/servlet/DeleteAddrServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>ModifyGoodsServlet</servlet-name>
        <servlet-class>cn.lin.servlet.ModifyGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyGoodsServlet</servlet-name>
        <url-pattern>/servlet/ModifyGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>AddGoodsServlet</servlet-name>
        <servlet-class>cn.lin.servlet.AddGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGoodsServlet</servlet-name>
        <url-pattern>/servlet/AddGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>DeleteGoodsServlet</servlet-name>
        <servlet-class>cn.lin.servlet.DeleteGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGoodsServlet</servlet-name>
        <url-pattern>/servlet/DeleteGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>cn.lin.servlet.EditOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/servlet/EditOrderServlet</url-pattern>
    </servlet-mapping>
</web-app>